.carousel{
    /* z-index: 1; */
    background-color: #f1f2f6;
    overflow-x: auto;
}

@media screen and (min-width: 375px) {
    .carousel_item{
        min-width: 100px !important;
        
    }
}


.carousel_item{
    border-radius: 17px;
}



.active__border{
    border-color: #1e90ff !important;
}

.active__text p{
    color: #1e90ff !important;
    font-size:100px;
}
.itemku{
    width: 113px;
    margin-top:26px;
    margin-bottom: 20px;
    margin-left: 20px;
    marign-right: 20px;
}

.category p{
    font-size: 18px;
    font-weight: 600;
    line-height: 23.38px;
    color: #747d8c
}

.category p :active{
    color: #1e90ff
}
