

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link .active{
    color: #1e90ff !important;
    font-weight: 900;
}

.nav__bar{
    width: 1320px;
}

.navbar-toggler {
    border: none !important;
    outline: 0 !important;
    padding:0 !important
}

  .navbar-brand{
      margin-right: 70px !important;
  }